<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266200973318-r1sbm8gud1amf7rvd04u8shn2mqkt3ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266200973318-r1sbm8gud1amf7rvd04u8shn2mqkt3ci</string>
	<key>API_KEY</key>
	<string>AIzaSyAi0PxI9dSiTvb1yPQPcKWumGF1cZQcCzo</string>
	<key>GCM_SENDER_ID</key>
	<string>266200973318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.audiobox.audiobox</string>
	<key>PROJECT_ID</key>
	<string>audiobox-76b0e</string>
	<key>STORAGE_BUCKET</key>
	<string>audiobox-76b0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266200973318:ios:968800e3c77c71a6ccc387</string>
	<key>DATABASE_URL</key>
	<string>https://audiobox-76b0e-default-rtdb.firebaseio.com</string>
</dict>
</plist>