<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266200973318-9rod1h9qmckuide321mgqs7gcvgb4rvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266200973318-9rod1h9qmckuide321mgqs7gcvgb4rvo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>266200973318-189lvn02g527q23leq8531dp6l5vacj5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAi0PxI9dSiTvb1yPQPcKWumGF1cZQcCzo</string>
	<key>GCM_SENDER_ID</key>
	<string>266200973318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.audiobox.admin</string>
	<key>PROJECT_ID</key>
	<string>audiobox-76b0e</string>
	<key>STORAGE_BUCKET</key>
	<string>audiobox-76b0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266200973318:ios:eacacd1b55826585ccc387</string>
	<key>DATABASE_URL</key>
	<string>https://audiobox-76b0e-default-rtdb.firebaseio.com</string>
</dict>
</plist>